<div class="hero hero--indigo">
    <div class="hero__content">
        <div class="container center-xs">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="flex-fluid">
                        <h1>Dashboard </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="panel panel--loose panel--bordered ">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-blue base-margin-bottom">Servicios</h1>
                    <hr/>
                </div>

                <div class="col-md-4 text-center">
                    <h4>L3 VPNs</h4>
                    <br/>
                    <span class="label label--circle label--goliath label--warning">{a l3vpnServices.length a}</span>
                </div>
                <div class="col-md-4 text-center">
                    <h4>Dispositivos</h4>
                    <br/>
                    <span class="label label--circle label--goliath label--blue">{a devices.length a}</span>

                </div>

                <div class="col-md-4 text-center">
                    <h4>Implementados</h4>
                    <br/>
                    <div class="gauge-container">
                        <div class="gauge gauge--alt gauge--success" data-percentage="100">
                            <div class="gauge__circle">
                                <div class="mask full">
                                    <div class="fill"></div>
                                </div>
                                <div class="mask half">
                                    <div class="fill"></div>
                                    <div class="fill fix"></div>
                                </div>
                            </div>
                            <div class="gauge__inset">
                                <div class="gauge__percentage">100%</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>